{% extends 'civilcase/print/print_base.html' %}{% load static%}
{% block title %}刑事自诉状{% endblock title %}
{% block css %}
    <style>
        @page {
            size: a4 portrait;
            margin: 2.5cm;

        }
        .table {
            border: 0px;
            border-collapse: collapse;
            padding-top: 3px;
            font-size: 15pt;
            font-family: 宋体;
            width: 100%;
        }

        .table td {
            height: 25px;
            word-wrap: break-word;
            word-break: break-all;
            border: 0px!important;
            padding-top: 5px!important;
            padding-bottom: 5px!important;
        }

        div {
            line-height: 25px;
        }

        span {
            display: block;
            text-indent: 2.2rem;
            line-height: 25px;
        }

        .table .td_h {
            height: 140px;
        }

        .table .td_50 {
            height: 50px;
        }

        .table .td_20 {
            height: 20px;
        }

        .td_right {
            text-align: right;
            padding-right: 40px;
        }

        .sp_h {
            min-height: 100px;
        }
    </style>
{% endblock css %}
{% block print_content %}
    <table class="table" id="print_page">
        <caption style="text-align: center">
            <h1>自诉状</h1>
        </caption>
        <tbody>
            <tr>
                <td>原告:{{ private_detail.private.party_name }}</td>
                <td>性别: {{ private_detail.private.get_party_sex_display }}</td>
                <td>民族：{{ private_detail.private.party_nation }}</td>
                <td>年龄: {{ private_detail.private.get_birth_date }}</td>
            </tr>
            <tr>
                <td colspan="2">身份证号: {{ private_detail.private.party_id_code }}</td>
                <td colspan="2">电话: {{ private_detail.private.party_tel }}</td>
            </tr>
            <tr>
                <td colspan="4">现住址: {{ private_detail.private.party_address }}</td>
            </tr>
            {% if private_detail.private.guard_name %}
                <tr>
                    <td colspan="2">法定代理人:{{ private_detail.private.guard_name }}({{ private_detail.private.guard_relation }})
                    </td>
                    <td colspan="2">电话: {{ private_detail.private.guard_tel }}</td>
                </tr>
                <tr>
                    <td colspan="4">现住址: {{ private_detail.private.guard_address }}</td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="4" class="td_20"></td>
            </tr>

        {% for nature in natures %}
            <tr>
                <td>被告: {{ nature.name|default:"" }}</td>
                <td>性别: {{ nature.get_gender_display }}</td>
                <td>民族：{{ nature.nation|default:"" }}</td>
                <td>年龄: {{ nature.age|default:"" }}</td>
            </tr>
            <tr>
                <td colspan="2">身份证号: {{ nature.id_code|default:"" }}</td>
                <td colspan="2">电话: {{ nature.tel|default:"" }}</td>
            </tr>
            <tr>
                <td colspan="4">现住址: {{ nature.address|default:"" }}</td>
            </tr>
        {% endfor %}
        {% for legal in legals %}
            <tr>
                <td colspan="4">被告：{{ legal.company_name|default:"" }}</td>
            </tr>
            <tr>
                <td colspan="4">社会统一信用代码: {{ legal.credit_code|default:"" }}</td>
            </tr>
            <tr>
                <td colspan="2">法定代表人: {{ legal.legal_person|default:"" }}</td>
                <td colspan="2">联系电话: {{ legal.telephone|default:"" }}</td>
            </tr>
            <tr>
                <td colspan="4">住所地: {{ legal.address|default:"" }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4">
                <div>诉讼请求:</div>
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="sp_h">{{ private_detail.crimiprivatelawsuitscheme.complaint_claim|safe }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div>事实和理由:</div>
            </td>
        </tr>
        <tr>
            <td colspan="4"><span class="sp_h">{{ private_detail.crimiprivatelawsuitscheme.complaint_reasons|safe }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="td_20"></td>
        </tr>
        <tr>
            <td colspan="4"><span>此致</span></td>
        </tr>
        <tr>
            <td colspan="4">
                <div>{{ private_detail.court_name }}</div>
            </td>
        </tr>

        <tr>
            <td colspan="4" class="td_right">
                <div>自诉人：{{ private_detail.private.party_name }}</div>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="td_right">
                <div>{% now 'Y年m月d日' %}</div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

