{% extends 'rbac/base.html' %}{% load static rbac%}
{% block title %} 居民人均收支项 {% endblock title %}
{% block css %}
    <style>
        .mgt{
           margin-top: 20px;
        }
        .panel-heading{
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            overflow: hidden;
        }
    </style>
{% endblock %}
{% block right %}
    <div class="row">
        <div class="container-fluid mgt">
            <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-ex">
                            <div class="row">
                                <div class="col-md-4 col-xs-4"><span class="panel-title h34">居民人均收支项</span></div>
                                <div class="col-md-8 col-xs-8">
                                <span class="right">
                                    {% if request|has_permission:'calc-mgr:income-expend-item-add' %}
                                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" data-uri="{% url 'calc-mgr:income-expend-item-add' %}">
                                            <i class="glyphicon glyphicon-plus">增加</i>
                                        </button>
                                    {% endif %}
                                </span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>项目名称</th>
                                {% if request|has_permission:"calc-mgr:income-expend-item-update" or  request|has_permission:"advisor:consult-unit-delete"%}
                                    <th>选项</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in inc_exp_items %}
                                <tr>
                                    <td class="text-center">{{ c.id }}</td>
                                    <td>{{ c.name }}</td>
                                    <td>
                                        {% if request|has_permission:"calc-mgr:income-expend-item-update" %}
                                         <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal" data-uri="{% url 'calc-mgr:income-expend-item-update' c.id %}">
                                            修改
                                        </button>
                                        {% endif %}
                                        {% if request|has_permission:"calc-mgr:income-expend-item-del" %}
                                            <a class="btn  btn-xs btn-danger btn-del" href="#" data-item="{% url 'calc-mgr:income-expend-item-del' c.id %}">删除</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">居民人均收支项</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-edit-btn">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extjs %}
    <script>
    $(function () {
        $("#id_begin_time, #id_end_time").datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            autoclose: true,
        });
        $("#btn_reset").click(function () {
            $("#id_unit_name").val("");
            $("#id_person").val("");
            $("#id_begin_time").val("");
            $("#id_end_time").val("");
        });

        $("#save-edit-btn").click(function () {
            $("#id_form").submit();
        })
        $('#myModal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            var uri = button.attr('data-uri');
            console.log(uri);
            $(this).find('.modal-body').load( uri, function(response, status, xhr){
              if (status == "error") {
                var msg = "Sorry but there was an error: ";
                modal.find('.modal-body').html(msg + xhr.status + " " + (typeof xhr === 'string' ? xhr : xhr.responseText || xhr.statusText || 'Unknown error!'));
              }
            });
        })
    })

    </script>
{% endblock %}




