<form class="form-horizontal" id="id_form" method="post" action="{{ action }}">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ form.province.id_for_label }}"><span class="red">*</span>{{ form.province.label }}
        </label>
        <div class="col-sm-8">
            {{ form.province }}
            <span class="text-danger">{{ form.province.errors.0 }}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ form.inc_exp_item.id_for_label }}"><span class="red">*</span>{{ form.inc_exp_item.label }}
        </label>
        <div class="col-sm-8">
            {{ form.inc_exp_item }}
            <span class="text-danger">{{ form.inc_exp_item.errors.0 }}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ form.years.id_for_label }}"><span class="red">*</span>{{ form.years.label }}
        </label>
        <div class="col-sm-8">
            {{ form.years }}
            <span class="text-danger">{{ form.years.errors.0 }}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ form.total_money.id_for_label }}"><span class="red">*</span>{{ form.total_money.label }}
        </label>
        <div class="col-sm-8">
            {{ form.total_money }}
            <span class="text-danger">{{ form.total_money.errors.0 }}</span>
        </div>
    </div>

</form>
<script>
    $("#id_years").datepicker({
            format: 'yyyy',
            language: "zh-CN",
            autoclose:true,
            startView: 2,
            minViewMode: 2,
            maxViewMode: 2,
        });
</script>