{% extends 'rbac/base.html' %}{% load static rbac %}
{% block title %}民事案件{% endblock title %}
{% block css %}
    <style>
        .panel-ex {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 5px;
        }
     .tab-content-ex{
         margin-top:15px;
         margin-left: 10px;
         margin-right: 10px;"
     }
    .mgt-50{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .btn-w300{
        width: 300px;
    }
    </style>
{% endblock %}
{% block right %}
    <div class="row">
        <h3 class="text-center">民事案件维护</h3>
    </div>
    <div class="container">
        <form  method="post">
        {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">民事案件信息</div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label"
                                   for="{{ form.case_name.id_for_label }}"><span class="red">*</span>{{ form.case_name.label }}</label>
                            <div class="col-sm-7">
                                {{ form.case_name }}
                                <span class="text-danger">{{ form.case_name.errors.0 }}</span>
                            </div>
                            <label class="col-sm-1 control-label"
                                   for="{{ form.case_id.id_for_label }}">{{ form.case_id.label }}</label>
                            <div class="col-sm-3">
                                {{ form.case_id }}
                                <span class="text-danger">{{ form.case_id.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"
                                   for="{{ form.info_type.id_for_label }}"><span class="red">*</span>{{ form.info_type.label }}</label>
                            <div class="col-sm-3">
                                {{ form.info_type }}
                                <span class="text-danger">{{ form.info_type.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.case_prop.id_for_label }}"><span class="red">*</span>{{ form.case_prop.label }}</label>
                            <div class="col-sm-2">
                                {{ form.case_prop }}
                                <span class="text-danger">{{ form.case_prop.errors.0 }}</span>
                            </div>
                           <label class="col-sm-1 control-label"
                                   for="{{ form.org_legal_status.id_for_label }}">{{ form.org_legal_status.label }}</label>
                            <div class="col-sm-3">
                                {{ form.org_legal_status }}
                                <span class="text-danger">{{ form.org_legal_status.errors.0 }}</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"
                                   for="{{ form.agent.id_for_label }}">{{ form.agent.label }}</label>
                            <div class="col-sm-3">
                                {{ form.agent }}
                                <span class="text-danger">{{ form.agent.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.case_stage.id_for_label }}"><span class="red">*</span>{{ form.case_stage.label }}</label>
                            <div class="col-sm-2">
                                {{ form.case_stage }}
                                <span class="text-danger">{{ form.case_stage.errors.0 }}</span>
                            </div>
                            <label class="col-sm-1 control-label"
                                   for="{{ form.commission_stage.id_for_label }}">{{ form.commission_stage.label }}</label>
                            <div class="col-sm-3">
                                {{ form.commission_stage }}
                                <span class="text-danger">{{ form.commission_stage.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"
                                   for="{{ form.agent_type.id_for_label }}">{{ form.agent_type.label }}</label>
                            <div class="col-sm-2">
                                {{ form.agent_type }}
                                <span class="text-danger">{{ form.agent_type.errors.0 }}</span>
                            </div>
                            <label class="col-sm-3 control-label"
                                   for="{{ form.per_target_amount.id_for_label }}">代理费用:  {{ form.per_target_amount.label }}</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    {{ form.per_target_amount }}
                                    <div class="input-group-addon">%</div>
                                </div>
                                <span class="text-danger">{{ form.per_target_amount.errors.0 }}</span>
                            </div>
                            <label class="col-sm-1 control-label"
                                   for="{{ form.pre_expenses.id_for_label }}">{{ form.pre_expenses.label }}</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    {{ form.pre_expenses }}
                                    <div class="input-group-addon">元</div>
                                </div>
                                <span class="text-danger">{{ form.pre_expenses.errors.0 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">委托人信息</div>
                </div>
                <div class="panel-body panel-ex" >
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#cli_person" data-toggle="tab">自然人</a></li>
                        <li><a href="#cli_legal_person" data-toggle="tab">法人</a></li>
                        <li><a href="#cli_guarder" data-toggle="tab">监护人</a></li>
                    </ul>
                    <div class="tab-content tab-content-ex">
                        <div class="tab-pane fade in active" id="cli_person">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.cli_name.id_for_label }}">{{ form.cli_name.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.cli_name }}
                                        <span class="text-danger">{{ form.cli_name.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_tel.id_for_label }}">{{ form.cli_tel.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_tel }}
                                        <span class="text-danger">{{ form.cli_tel.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_relation.id_for_label }}">{{ form.cli_relation.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_relation }}
                                        <span class="text-danger">{{ form.cli_relation.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_address.id_for_label }}">{{ form.cli_address.label }}</label>
                                    <div class="col-sm-6">
                                        {{ form.cli_address }}
                                        <span class="text-danger">{{ form.cli_address.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_id_card.id_for_label }}">{{ form.cli_id_card.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_id_card }}
                                        <span class="text-danger">{{ form.cli_id_card.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="cli_legal_person">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.cli_legal_name.id_for_label }}">{{ form.cli_legal_name.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.cli_legal_name }}
                                        <span class="text-danger">{{ form.cli_legal_name.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_legal_person.id_for_label }}">{{ form.cli_legal_person.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_legal_person }}
                                        <span class="text-danger">{{ form.cli_legal_person.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_legal_tel.id_for_label }}">{{ form.cli_legal_tel.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_legal_tel }}
                                        <span class="text-danger">{{ form.cli_legal_tel.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label"
                                           for="{{ form.cli_legal_address.id_for_label }}">{{ form.cli_legal_address.label }}</label>
                                    <div class="col-sm-3">
                                        {{ form.cli_legal_address }}
                                        <span class="text-danger">{{ form.cli_legal_address.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_legal_code.id_for_label }}">{{ form.cli_legal_code.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_legal_code }}
                                        <span class="text-danger">{{ form.cli_legal_code.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.cli_legal_job.id_for_label }}">{{ form.cli_legal_job.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.cli_legal_job }}
                                        <span class="text-danger">{{ form.cli_legal_job.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="cli_guarder">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.guard_name.id_for_label }}">{{ form.guard_name.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.guard_name }}
                                        <span class="text-danger">{{ form.guard_name.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.guard_tel.id_for_label }}">{{ form.guard_tel.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.guard_tel }}
                                        <span class="text-danger">{{ form.guard_tel.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.guard_relation.id_for_label }}">{{ form.guard_relation.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.guard_relation }}
                                        <span class="text-danger">{{ form.guard_relation.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.guard_address.id_for_label }}">{{ form.guard_address.label }}</label>
                                    <div class="col-sm-6">
                                        {{ form.guard_address }}
                                        <span class="text-danger">{{ form.guard_address.errors.0 }}</span>
                                    </div>
                                    <label class="col-sm-2 control-label"
                                           for="{{ form.guard_id_card.id_for_label }}">{{ form.guard_id_card.label }}</label>
                                    <div class="col-sm-2">
                                        {{ form.guard_id_card }}
                                        <span class="text-danger">{{ form.guard_id_card.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">当事人信息</div>
                </div>
                <div class="panel-body panel-ex">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#parter_person" data-toggle="tab">自然人</a></li>
                        <li><a href="#parter_legal" data-toggle="tab">法人</a></li>
                    </ul>
                    <div class="tab-content  tab-content-ex">
                        <div class="tab-pane fade in active" id="parter_person">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_name.id_for_label }}">{{ form.party_name.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_name }}
                                        <span class="text-danger">{{ form.party_name.errors.0 }}</span>
                                    </div>

                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_sex.id_for_label }}">{{ form.party_sex.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_sex }}
                                        <span class="text-danger">{{ form.party_sex.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_birth.id_for_label }}">{{ form.party_birth.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_birth }}
                                        <span class="text-danger">{{ form.party_birth.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_person_status.id_for_label }}">{{ form.party_person_status.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_person_status }}
                                        <span class="text-danger">{{ form.party_person_status.errors.0 }}</span>
                                    </div>

                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_nation.id_for_label }}">{{ form.party_nation.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_nation }}
                                        <span class="text-danger">{{ form.party_nation.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_job.id_for_label }}">{{ form.party_job.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_job }}
                                        <span class="text-danger">{{ form.party_job.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_tel.id_for_label }}">{{ form.party_tel.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_tel }}
                                        <span class="text-danger">{{ form.party_tel.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_id_code.id_for_label }}">{{ form.party_id_code.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_id_code }}
                                        <span class="text-danger">{{ form.party_id_code.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_address.id_for_label }}">{{ form.party_address.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_address }}
                                        <span class="text-danger">{{ form.party_address.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="parter_legal">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_legal_name.id_for_label }}">{{ form.party_legal_name.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_legal_name }}
                                        <span class="text-danger">{{ form.party_legal_name.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_legal_person.id_for_label }}">{{ form.party_legal_person.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_legal_person }}
                                        <span class="text-danger">{{ form.party_legal_person.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_legal_job.id_for_label }}">{{ form.party_legal_job.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_legal_job }}
                                        <span class="text-danger">{{ form.party_legal_job.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_company_status.id_for_label }}">{{ form.party_company_status.label }}</label>
                                    <div class="col-xs-3">
                                        {{ form.party_company_status }}
                                        <span class="text-danger">{{ form.party_company_status.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_legal_code.id_for_label }}">{{ form.party_legal_code.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_legal_code }}
                                        <span class="text-danger">{{ form.party_legal_code.errors.0 }}</span>
                                    </div>
                                    <label class="col-xs-1 control-label"
                                           for="{{ form.party_legal_telephone.id_for_label }}">{{ form.party_legal_telephone.label }}</label>
                                    <div class="col-xs-2">
                                        {{ form.party_legal_telephone }}
                                        <span class="text-danger">{{ form.party_legal_telephone.errors.0 }}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 control-label"
                                           for="{{ form.party_legal_address.id_for_label }}">{{ form.party_legal_address.label }}</label>
                                    <div class="col-xs-7">
                                        {{ form.party_legal_address }}
                                        <span class="text-danger">{{ form.party_legal_address.errors.0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mgt-50">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-primary btn-w300">下一步</button>
                </div>
            </div>
        </form>
    </div>
{% endblock right %}
{% block extjs %}
    <script>
    $(function () {
        $("#id_party_birth").datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            autoclose: true,
        });
    })

    </script>
{% endblock %}
<script>
<!--
function setTab(name,cursel,n){
 for(i=1;i<=n;i++){
  var menu=document.getElementById(name+i);
  var con=document.getElementById("con_"+name+"_"+i);
  menu.className=i==cursel?"hover":"";
  con.style.display=i==cursel?"block":"none";
 }
}
//-->
</script>
	</head>
	<body>
		<div class="ding">
		<nav class="navbar-fixed">
			<div class="container logowei">

				<a class="navbar-brand navbar-left" style="padding: inherit;"><img src="lib/img/logo.png"></a>


				<div class="navbar-right" style="padding-top: 20px;">
					<p class="navbar-text">用户名：某某某</p>
					<a href="lsdsy.html" class="btn navbar-btn btn-primary btn-sm">退出</a>
				</div>
			</div>
		</nav>
		</div>
		<!--<div class="banner"></div>-->
		<div class="container-fluid dk">
			<div class="row">
			  	<div class="col-md-1" style="padding-top: 20px;">
					<div class="move green"><a href="wdaj.html">我的案件</a></div>
					<div class="move"><a href="gwdw.html">顾问单位</a></div>
					<div class="move"><a href="#">非诉案件</a></div>
					<div class="move"><a href="wdxx.html">我的信息</a></div>
					<div class="move"><a href="lsxx.html">律所信息</a></div>
				</div>
			  <div class="col-md-11 ndk">

<form>

	<div>
		<div style="width: 100%; display: block; overflow: hidden; padding-top: 15px;">
<form class="form-inline" >
  <div class="form-group" style="margin-right: 5px; margin-left: 15px; float: left;">
  	<span style="color: red; float: left; margin-right: 5px; line-height: 35px;">*</span>
    <label for="exampleInputName2" style="float: left; line-height: 30px;">案件名称：</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="" style="float: left; width: 750px;" required>
  </div>
    <div class="form-group" style="margin-right: 5px; margin-left: 15px; float: left;">
    <label for="exampleInputName2" style="float: left; line-height: 30px; margin-left: 15px;">案件编号：2019民事0001</label>
  </div>
  <div class="form-group" style="margin-right: 5px; float: left;">
    <label for="exampleInputEmail2" style="float: left; line-height: 30px;  margin-left: 15px;">信息类型：</label>
        <select name="carlist" form="carform" style="width: 80px; text-align-last:center; float:left;" class="form-control">
  			<option value="立案">立案</option>
  			<option value="咨询">咨询</option>
		</select>
  </div>
  <div class="form-group" style="margin-right: 5px; float: left;">
    <label for="exampleInputEmail2" style="float: left; line-height: 30px; margin-left: 15px; ">案件性质：</label>
    <select name="carlist" form="carform" style="width: 80px; text-align-last:center; float: left;" class="form-control">
  		<option value="个人">个人</option>
  		<option value="公共">公共</option>
  		<option value="公益">公益</option>
	</select>
  </div>
    <div class="form-group" style="margin-right: 5px; float: left;">
    <label for="exampleInputEmail2" style="float: left; line-height: 30px; margin-left: 15px;">代理权限：</label>
    <select name="carlist" form="carform" style="width: 120px; text-align-last:center; float: left;" class="form-control">
  		<option value="一般代理">一般代理</option>
  		<option value="特殊代理">特殊代理</option>
	</select>
  </div>

   <div class="form-group" style="margin-right: 5px; float: left;">
    <label for="exampleInputEmail2" style="float: left; line-height: 30px; margin-left: 15px; ">原审法律地位：</label>
    <select name="carlist" form="carform" style="width: 100px; text-align-last:center; float: left;" class="form-control">
  		<option value="原告">原告</option>
  		<option value="被告">被告</option>
  		<option value="第三人">第三人</option>
	</select>
  </div>

  <div class="form-group" style="margin-right: 5px; margin-left: 15px; float: left;">
  	<span style="color: red; float: left; margin-right: 5px; line-height: 30px;">*</span>
    <label for="exampleInputEmail2" style="line-height: 30px;">委托阶段：</label>
    <label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox1" value="option1"> 一审
	</label>
	<label class="checkbox-inline">
	  	<input type="checkbox" id="inlineCheckbox2" value="option2"> 二审
	</label>
	<label class="checkbox-inline">
	  	<input type="checkbox" id="inlineCheckbox3" value="option3"> 再审
	</label>
	<label class="checkbox-inline">
	  	<input type="checkbox" id="inlineCheckbox4" value="option4"> 执行
	</label>
 </div>

  <div class="form-group" style="margin-right: 5px; float: left;">
    <label for="exampleInputEmail2" style="float: left; line-height: 30px; margin-left: 15px; ">代理种类：</label>
    <select name="carlist" form="carform" style="width: 110px; text-align-last:center; float: left;" class="form-control">
  		<option value="普通代理">普通代理</option>
  		<option value="风险代理">风险代理</option>
	</select>
  </div>
  <div class="form-group" style=" float: left; width: 660px;" >
    <label for="exampleInputEmail2" style="float: left; line-height: 30px; margin-left: 15px; ">代理费用：</label>
	<div class="input-group" style="width: 10%; float: left; display: none;">
      	<div class="input-group-addon">￥</div>
      	<input type="text" class="form-control" id="exampleInputAmount" placeholder="" style="width: 100px;">
      	<div class="input-group-addon">元</div>
	</div>
	<div class="houxu" ><!--style="display: none;" -->
		<span style="float: left; margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 700; line-height: 30px;">按起诉状中所列争议标的额的</span>
		<div class="input-group" style="width: 56%; float: left;">
      		<input type="text" class="form-control" id="exampleInputAmount" placeholder="" style="width: 52px;">
      		<div class="input-group-addon">%</div>
      		<span style="float: left; margin-left: 10px; margin-right: 10px; font-size: 14px; font-weight: 700; line-height: 34px;">预支费用：</span>
      		<div class="input-group-addon">￥</div>
      		<input type="text" class="form-control" id="exampleInputAmount" placeholder="" style="width: 107px;">
      		<div class="input-group-addon">元</div>
		</div>
	</div>
 </div>
 <div class="form-group" style="margin-right: 5px; float: left;">
    <label for="exampleInputEmail2" style="float: left; line-height: 30px; margin-left: 15px; ">案件所处阶段：</label>
    <select name="carlist" form="carform" style="width: 80px; text-align-last:center; float: left;" class="form-control">
  		<option value="一审">一审</option>
  		<option value="二审">二审</option>
  		<option value="再审">再审</option>
  		<option value="执行">执行</option>
	</select>
  </div>
</form>
</div>
<div class="row" style="display: block; width: auto;">
	<div class="col-md-6">
<div id="lib_Tab1"><div class="btwendang">委托人</div>

<div class="lib_Menubox lib_tabborder">

<ul>
   <li id="one1" onclick="setTab('one',1,3)" class="hover">法人</li>
   <li id="one2" onclick="setTab('one',2,3)" >自然人</li>
   <li id="one3" onclick="setTab('one',3,3)" >监护人</li>
</ul>
</div>
 <div class="lib_Contentbox lib_tabborder">
   <div id="con_one_1" >
   		<form class="form-inline" style="padding:10px">
  			<div class="form-group" style="padding:3px; float: left;">
    			<label for="exampleInputName2">公司名称：</label>
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="" style="width: 456px;">
  			</div>
  			<div class="form-group" style="padding:3px; float: left;">
    			<label for="exampleInputEmail2">住所地：</label>
    			<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 470px;">
  			</div>
  			<div class="form-group" style="padding:3px; float: left;">
    			<label for="exampleInputEmail2">统一社会信用代码：</label>
    			<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 400px;">
  			</div>


  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">法定代表人：</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 180px;">
  					</div>

  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">公司联系电话：</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 166px;">
  					</div>
  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">公司所处职务：</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 166px;">
  					</div>

  					<!--<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">开户行</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="">
  					</div>
  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">账号</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 248px;">
  					</div>-->
				</form>
   </div>
   <div id="con_one_2" style="display:none">
   		<form class="form-inline" style="padding:10px">
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputName2">委托人姓名:</label>
    					<input type="text" class="form-control" id="exampleInputName2" placeholder="" style="width: 85px;">
  					</div>

  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">与当事人关系:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 56px;">
  					</div>
  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">委托人电话:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 120px;">
  					</div>
  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">身份证号:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 180px;">
  					</div>

  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">住址:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 489px;">
  					</div>
				</form>
   </div>
   <div id="con_one_3" style="display:none">
   		<form class="form-inline" style="padding:10px">
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputName2">委托人姓名:</label>
    					<input type="text" class="form-control" id="exampleInputName2" placeholder="" style="width: 85px;">
  					</div>

  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">与当事人关系:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 56px;">
  					</div>
  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">委托人电话:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 120px;">
  					</div>
  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">身份证号:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 180px;">
  					</div>

  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">住址:</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 489px;">
  					</div>
				</form>
   </div>
 </div>
</div>
</div>
<div class="col-md-6">
<div id="lib_Tab2"><div class="btwendang">当事人</div>
<div class="lib_Menubox lib_tabborder">
<ul>
   <li id="two1" onclick="setTab('two',1,2)" class="hover">法人</li>
   <li id="two2" onclick="setTab('two',2,2)">自然人</li>
</ul>
</div>
 <div class="lib_Contentbox lib_tabborder">
   <div id="con_two_1" >
   	<form class="form-inline" style="padding:10px">
  			<div class="form-group" style="padding:3px; float: left;">
    			<label for="exampleInputName2">公司名称：</label>
    			<input type="text" class="form-control" id="exampleInputName2" placeholder="" style="width: 456px;">
  			</div>
  			<div class="form-group" style="padding:3px; float: left;">
    			<label for="exampleInputEmail2">住所地：</label>
    			<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 470px;">
  			</div>
  			<div class="form-group" style="padding:3px; float: left;">
    			<label for="exampleInputEmail2">统一社会信用代码：</label>
    			<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 200px;">
  			</div>


  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">法定代表人：</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 180px;">
  					</div>

  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">公司联系电话：</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 166px;">
  					</div>
  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">公司所处职务：</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 120px;">
  					</div>
  					<div class="form-group" style="padding:3px;">
    					<label for="exampleInputEmail2">所处法律地位</label>
    					<select name="carlist" form="carform" style="width: 150px; text-align-last:center;" class="form-control">
  							<option value="原告">原告</option>
  							<option value="被告">被告</option>
  							<option value="第三人">第三人</option>
  							<option value="上诉人">上诉人</option>
  							<option value="被上诉人">被上诉人</option>
  							<option value="再审申请人">再审申请人</option>
  							<option value="再审被申请人">再审被申请人</option>
  							<option value="申请人">申请人</option>
  							<option value="被申请人">被申请人</option>
						</select>
  					</div>

				</form>
   </div>
   <div id="con_two_2" style="display:none">
   	<form class="form-inline" style="padding:10px">
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputName2">当事人姓名</label>
    					<input type="text" class="form-control" id="exampleInputName2" placeholder="" style="width: 85px;">
  					</div>
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">性别</label>
    					<select name="carlist" form="carform" style="width: 70px; text-align-last:center;" class="form-control">
  							<option value="男">男</option>
  							<option value="女">女</option>
						</select>
  					</div>
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">民族</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 85px;">
  					</div>
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">职业</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 85px;">
  					</div>
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">出生年月日</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 100px;">
  					</div>



  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">联系电话</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 130px;">
  					</div>

  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">身份证号</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="">
  					</div>
  					<div class="form-group" style="padding:3px; float: left;">
    					<label for="exampleInputEmail2">所处法律地位</label>
    					<select name="carlist" form="carform" style="width: 150px; text-align-last:center;" class="form-control">
  							<option value="原告">原告</option>
  							<option value="被告">被告</option>
  							<option value="第三人">第三人</option>
  							<option value="上诉人">上诉人</option>
  							<option value="被上诉人">被上诉人</option>
  							<option value="再审申请人">再审申请人</option>
  							<option value="再审被申请人">再审被申请人</option>
  							<option value="申请人">申请人</option>
  							<option value="被申请人">被申请人</option>
						</select>
  					</div>
  					<div class="form-group" style="padding:3px">
    					<label for="exampleInputEmail2">住址</label>
    					<input type="text" class="form-control" id="exampleInputEmail2" placeholder="" style="width: 500px;">
  					</div>
				</form>

   </div>
 </div>
</div>
</div>

	</div>
	<div style="float: left; margin-top:50px; width: 100%; text-align: center;" >
		<button type="button" class="btn btn-primary" style="width: 300px;" onclick="javascript:location.href='xjajxdr.html'">下一步</button>
	</div>
</form>
			  </div>
			</div>
		</div>
		<script type="text/javascript" src="lib/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="lib/js/bootstrap.min.js" ></script>
	</body>
</html>
