<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>案件资料</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../lib/css/stylels.css" />
		<link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="yt">
			<div class="logo"></div>
			<div class="youyt">
				<div class="yonghuming">用户名：<span>某某某</span></div>
				<div><input type="submit" value="修改密码" style="float: right; border: 1px solid #008AFF; border-radius:4px; margin-bottom: 5px;" onclick="javascript:location.href='xgmm.html'"></div>
				<div><input type="submit" value="退出" style="float: right; border: 1px solid #008AFF; border-radius:4px;" onclick="javascript:location.href='lsdsy.html'"></div>
			</div>
		</div>
		<!--<div class="banner"></div>-->
				<div class="dabox">
			<div class="liftbox">
				<div class="move green"><a href="ajxx.html">案件信息</a></div>
				<div class="move"><a href="gwdw.html">法律顾问</a></div>
				<div class="move"><a href="#">非诉业务</a></div>
				<div class="move"><a href="index.html">用户授权</a></div>
				<div class="move"><a href="ryxx.html">人员信息</a></div>
				<div class="move"><a href="lsxx.html">律所信息</a></div>
				<div class="move"><a href="qxfp.html">权限分配</a></div>
				<div class="move"><a href="jsgl.html">角色管理</a></div>
				<div class="move"><a href="qxxx.html">权限信息</a></div>
			</div>
			<div class="youbox">
				<div class="lsxxdbox">
					<div class="sqtop">案件资料</div>
					<div class="sqbottom">
							<div class="sqbbox">
								<span>案件名称：</span>*******
							</div>
							
							<div class="sqbbox">
								<span>案件进程：</span>*******
							</div>
							
							<div class="sqbbox">
								<span>委托阶段：</span>*******
							</div>
							
							<div class="lsxxbox">
	
							</div>
							
						<div class="sqbottom">
						<form>			
							<div class="sqbbox">
								<span>律师函：</span>
								<input type="submit" value="打印" onclick="javascript:location.href='ajxx.html'">
							</div>
							
							<div class="sqbbox">
								<span>********：</span>
								<input type="submit" value="打印" onclick="javascript:location.href='ajxx.html'">
							</div>
							
							<div class="sqbbox">
								<span>********：</span>
								<input type="submit" value="打印" onclick="javascript:location.href='ajxx.html'">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
<script type="text/javascript" src="../lib/js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="../lib/js/bootstrap.min.js" ></script>
	</body>
</html>
