<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="format-detection" content="telephone=no,email=no,address=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">		
		<title>顾问单位</title>
		<link rel="stylesheet" href="../lib/css/stylels.css" />
		<link type="text/css" href="../lib/css/styletc.css" rel="stylesheet" />
	</head>
	<body>
		<div class="yt">
			<div class="logo"></div>
			<div class="youyt">
				<div class="yonghuming">用户名：<span>某某某</span></div>
				<div style="display: flow-root;"><input type="submit" value="修改密码" style="float: right; border: 1px solid #008AFF; border-radius:4px; margin-bottom: 5px; padding: 2px 4px;" onclick="javascript:location.href='xgmm.html'"></div>
				<div><input type="submit" value="退出" style="float: right; border: 1px solid #008AFF; border-radius:4px; padding: 2px 4px;" onclick="javascript:location.href='lsdsy.html'"></div>
			</div>
		</div>
		<!--<div class="banner"></div>-->
		<div class="dabox">
			<div class="liftbox">
				<div class="move"><a href="ajxx.html">案件信息</a></div>
				<div class="move"><a href="gwdw.html">法律顾问</a></div>
				<div class="move"><a href="#">非诉业务</a></div>
				<div class="move"><a href="index.html">用户授权</a></div>
				<div class="move green"><a href="ryxx.html">人员信息</a></div>
				<div class="move"><a href="lsxx.html">律所信息</a></div>
				<div class="move"><a href="qxfp.html">权限分配</a></div>
				<div class="move"><a href="jsgl.html">角色管理</a></div>
				<div class="move"><a href="qxxx.html">权限信息</a></div>
			</div>
			<div class="youbox">
				<div class="ryxxtop">人员信息</div>
				<div class="yminbox">
					<div class="rytop">律所合伙人</div>
					<div class="rynum">律所合伙人人数：&nbsp;20&nbsp;人</div>
					<div class="rylb">
						<section class="container">
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>    						
						</section>
					</div>					
				</div>
				<div class="yminbox">
					<div class="rytop">专职律师</div>
					<div class="rynum">专职律师人数：&nbsp;20&nbsp;人</div>
					<div class="rylb">
						<section class="container">
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>    						
						</section>
					</div>						
				</div>
				<div class="yminbox">
					<div class="rytop">兼职律师</div>
					<div class="rynum">兼职律师人数：&nbsp;20&nbsp;人</div>
					<div class="rylb">
						<section class="container">
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>    						
						</section>
					</div>					
				</div>
				<div class="yminbox">
					<div class="rytop">实习律师</div>
					<div class="rynum">实习律师人数：&nbsp;20&nbsp;人</div>
					<div class="rylb">
						<section class="container">
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>    						
						</section>
					</div>		
				</div>
				<div class="yminbox">
					<div class="rytop">客户经理</div>
					<div class="rynum">客户经理人数：&nbsp;20&nbsp;人</div>
					<div class="rylb">
						<section class="container">
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>    						
						</section>
					</div>	
				</div>
				<div class="yminbox">
					<div class="rytop">学员</div>
					<div class="rynum">学员人数：&nbsp;20&nbsp;人</div>
					<div class="rylb">
						<section class="container">
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>
    						<ul class="button-box">
      						姓名：&nbsp;<button>某某某</button>
    						</ul>    						
						</section>
					</div>	
				</div>
<script src="../lib/js/MiniDialog-es5.min.js"></script> 
<script src="../lib/js/demo.js"></script>
			</div>
		</div>
		
	</body>
</html>
