<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>修改密码</title>
		<link rel="stylesheet" href="../lib/css/stylels.css" />
		<link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div class="yt">
			<div class="logo"></div>
			<div class="youyt">
				<div class="yonghuming">用户名：<span>某某某</span></div>
				<div><input type="submit" value="修改密码" style="float: right; border: 1px solid #008AFF; border-radius:4px; margin-bottom: 5px;" onclick="javascript:location.href='xgmm.html'"></div>
				<div><input type="submit" value="退出" style="float: right; border: 1px solid #008AFF; border-radius:4px;" onclick="javascript:location.href='lsdsy.html'"></div>
			</div>
		</div>
		<!--<div class="banner"></div>-->
		<div class="dabox">
			<div class="liftbox">
				<div class="move"><a href="ajxx.html">案件信息</a></div>
				<div class="move"><a href="gwdw.html">法律顾问</a></div>
				<div class="move"><a href="#">非诉业务</a></div>
				<div class="move"><a href="index.html">用户授权</a></div>
				<div class="move"><a href="ryxx.html">人员信息</a></div>
				<div class="move"><a href="lsxx.html">律所信息</a></div>
				<div class="move"><a href="qxfp.html">权限分配</a></div>
				<div class="move"><a href="jsgl.html">角色管理</a></div>
				<div class="move"><a href="qxxx.html">权限信息</a></div>
			</div>
			<div class="youbox">
				<div class="sqbox">
					<div class="sqtop">修改密码</div>
					<div class="sqbottom">
						<form>
							<div class="sqbbox">
								<span>原密码：</span>
								<input type="password" name="password" id="password" placeholder="请输入您的密码" required>
							</div>
							
							
							<div class="sqbbox">
								<span>密码：</span>
								<input type="password" name="password" id="password" placeholder="请输入您的密码" required>
							</div>
							
							<div class="sqbbox">
								<span>确认密码：</span>
								<input type="password" name="password" id="password" placeholder="请输入您的密码" required>
							</div>
							
							<div class="subm">
								<input type="submit" value="提交" onclick="javascript:location.href='ajxx.html'">
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
<script type="text/javascript" src="../lib/js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="../lib/js/bootstrap.min.js" ></script>		
	</body>
</html>
