<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新建权限</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../lib/css/stylels.css" />
		<link rel="stylesheet" type="text/css" href="../lib/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="yt">
			<div class="logo"></div>
			<div class="youyt">
				<div class="yonghuming">用户名：<span>某某某</span></div>
				<div><input type="submit" value="修改密码" style="float: right; border: 1px solid #008AFF; border-radius:4px; margin-bottom: 5px;" onclick="javascript:location.href='xgmm.html'"></div>
				<div><input type="submit" value="退出" style="float: right; border: 1px solid #008AFF; border-radius:4px;" onclick="javascript:location.href='lsdsy.html'"></div>
			</div>
		</div>
		<!--<div class="banner"></div>-->
				<div class="dabox">
			<div class="liftbox">
				<div class="move"><a href="ajxx.html">案件信息</a></div>
				<div class="move"><a href="gwdw.html">法律顾问</a></div>
				<div class="move"><a href="#">非诉业务</a></div>
				<div class="move"><a href="index.html">用户授权</a></div>
				<div class="move"><a href="ryxx.html">人员信息</a></div>
				<div class="move"><a href="lsxx.html">律所信息</a></div>
				<div class="move"><a href="qxfp.html">权限分配</a></div>
				<div class="move"><a href="jsgl.html">角色管理</a></div>
				<div class="move green"><a href="qxxx.html">权限信息</a></div>
			</div>
			<div class="youbox">
				
					
					<div class="container-fluid" style="padding-top: 20px; padding-bottom: 20px;">
			
				<form class="form-group">
					<div class="form-group" style="overflow: hidden;">
						<div class="col-md-12 sqxx">
							<label for="exampleInputName2" class="ftlh">标题：</label>
	    					<input type="text" class="qd form-control" id="exampleInputName2" placeholder="" style="float: left; " required>
						</div>
						<div class="col-md-12 sqxx">
							<label for="exampleInputName2" class="ftlh">含正则的URL：</label>
	    					<input type="text" class="qd form-control" id="exampleInputName2" placeholder="" style="float: left;" required>
						</div>
						<div class="col-md-12 sqxx">
							<label for="exampleInputName2" class="ftlh">代码：</label>
	    					<input type="text" class="qd form-control" id="exampleInputName2" placeholder="" style="float: left;" required>
						</div>
						<div class="col-md-6 sqxx">
							<label for="exampleInputEmail2" class="ftlh">默认选中权限：<span style="font-size: 12px; color: #9D9D9D;">父级权限，无法作为菜单的权限才需要选择。</span></label>
							<select name="carlist" form="carform" style="text-align-last:center; float:left;" class="qd form-control">
							  	<option value="账单列表">账单列表</option>
							  	<option value="权限分配">权限分配</option>
							  	<option value="角色管理">角色管理</option>
							  	<option value="客户列表">客户列表</option>
							  	<option value="权限信息">权限信息</option>
							</select>
						</div>
						<div class="col-md-6 sqxx">
							<label for="exampleInputEmail2" class="ftlh">菜单：<span style="font-size: 12px; color: #9D9D9D;">选中，表示该权限可以作为菜单；否则，不可做菜单。</span></label>
							<select name="carlist" form="carform" style="text-align-last:center; float:left;" class="qd form-control">
							  	<option value="信息管理">信息管理</option>
							  	<option value="用户信息">用户信息</option>
							  	<option value="权限管理">权限管理</option>
							</select>
						</div>
						
					</div>
						<div class="subm">
								<input type="submit" value="提交" onclick="javascript:location.href='qxxx.html'">
							</div>

				</form>
				
					</div>
			  </div>
					
				
			</div>
		</div>
<script type="text/javascript" src="../lib/js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="../lib/js/bootstrap.min.js" ></script>
	</body>
</html>
