{% extends 'rbac/base.html' %}{% load static rbac %}
{% block title %}密码修改{% endblock title %}
{% block right %}
    <div class="bddbox">
        <div class="panel panel-default mgt">
            <div class="panel-heading">
                <h3 class="panel-title">修改密码</h3>
            </div>
            <div class="panel-body">
                {% if form %}
                    <form class="form-horizontal" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{ request.session.username }}">
                        <div class="form-group">
                            <label for="id_old_password" class="col-sm-3 control-label">{{ form.old_password.label }}:</label>
                            <div class="col-sm-9">
                                {{ form.old_password }}
                                <p class="text-danger">{{ form.old_password.errors.0 }}</p>
                                <p class="text-danger">{{ form.error_msg }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_new_password" class="col-sm-3 control-label">{{ form.new_password.label }}:</label>
                            <div class="col-sm-9">
                                {{ form.new_password }}
                                <p class="text-danger">{{ form.new_password.errors.0 }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_new_password1" class="col-sm-3 control-label">{{ form.new_password1.label }}:</label>
                            <div class="col-sm-9">
                                {{ form.new_password1 }}
                                <p class="text-danger">{{ form.new_password1.errors.0 }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary">修改密码</button>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    {% if form.non_field_errors %}
                                        {% for item in form.non_field_errors %}
                                            <p class="text-danger">{{ item }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extjs %}
    <script>
    $(function () {
        {% if form.success %}
            Swal.fire(
              '密码修改成功',
              '您的密码已经修改',
              'success'
            )
        {% endif %}
    })
    </script>

{% endblock %}

