{% extends 'rbac/base.html' %}{% load static %}
{% block title %}用户信息{% endblock title %}
{% block css %}
    <style>
    .pd20{
        padding: 20px;
    }
    .group{
        background-color: #f8f8f8;
        padding: 5px 15px;
        border: 1px solid #ddd;
        margin-bottom: 0px;
    }
    </style>
{% endblock %}
{% block right %}

    <div class="container pd20">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">人员维护</div>
            </div>
            <div class="panel-body">
                {% if form %}
                    {% if message %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endif %}
                    <form method="post" class="form-horizontal" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            <div class="col-sm-4">
                                {{ form.name }}
                                <span class="text-danger">{{ form.name.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.post.id_for_label }}">{{ form.post.label }}</label>
                            <div class="col-sm-4">
                                {{ form.post }}
                                <span class="text-danger">{{ form.post.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.real_name.id_for_label }}">{{ form.real_name.label }}</label>
                            <div class="col-sm-4">
                                {{ form.real_name }}
                                <span class="text-danger">{{ form.real_name.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                            <div class="col-sm-4">
                                {{ form.gender }}
                                <span class="text-danger">{{ form.gender.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
                            <div class="col-sm-4">
                                {{ form.telephone }}
                                <span class="text-danger">{{ form.telephone.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            <div class="col-sm-4">
                                {{ form.email }}
                                <span class="text-danger">{{ form.email.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                            <div class="col-sm-4">
                                {{ form.password }}
                                <span class="text-danger">{{ form.password.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                            <div class="col-sm-4">
                                {{ form.password1 }}
                                <span class="text-danger">{{ form.password1.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.job.id_for_label }}">{{ form.job.label }}</label>
                            <div class="col-sm-4">
                                {{ form.job }}
                                <span class="text-danger">{{ form.job.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.job_time.id_for_label }}">{{ form.job_time.label }}</label>
                            <div class="col-sm-4">
                                {{ form.job_time }}
                                <span class="text-danger">{{ form.job_time.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="{{ form.license_num.id_for_label }}">{{ form.license_num.label }}</label>
                            <div class="col-sm-4">
                                {{ form.license_num }}
                                <span class="text-danger">{{ form.license_num.errors.0 }}</span>
                            </div>
                            <label class="col-sm-2 control-label"
                                   for="{{ form.prof_title.id_for_label }}">{{ form.prof_title.label }}</label>
                            <div class="col-sm-4">
                                {{ form.prof_title }}
                                <span class="text-danger">{{ form.prof_title.errors.0 }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for=""></label>
                            <div class="col-sm-4 checkbox">
                                <label for="{{ form.is_superuser.id_for_label }}">
                                    {{ form.is_superuser }}{{ form.is_superuser.label }}
                                    <span class="text-danger">{{ form.is_superuser.errors.0 }}</span>
                                </label>
                            </div>
                            <label class="col-sm-2 control-label" for=""></label>
                            <div class="col-sm-4 checkbox">
                                <label for="{{ form.is_active.id_for_label }}">
                                    {{ form.is_active }}{{ form.is_active.label }}
                                    <span class="text-danger">{{ form.is_active.errors.0 }}</span>
                                </label>
                            </div>
                        </div>
                        {#                {% if item.field.is_checkbox %}#}
                        {#                    <div class="checkbox">#}
                        {#                        <label>#}
                        {#                             {{ item }}{{ item.label }}#}
                        {#                           <span {% if item.errors %} class="text-danger" {% endif %}>{{ item.errors.0 }}</span>#}
                        {#                        </label>#}
                        {#                    </div>#}
                        {#                {% else %}#}
                        {#                    {{ item.label_tag }}{{ item }}#}
                        {#                 <span class="text-danger">{{ item.errors.0 }}</span>#}
                        {#                {% endif %}#}

                        <div class="form-group col-md-12 subm">
                            <input type="submit" value="提交" class="btn btn-primary">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extjs %}
    <script>
    $(function () {
        $("#id_job_time").datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            autoclose: true,
        });
    })

    </script>
{% endblock %}

