{% extends 'civilcase/print/print_base.html' %}{% load static%}
{% block title %}刑事附带民事询问提纲{% endblock title %}
{% block css %}
  <style type="text/css">
      @page {
            size: a4 portrait;
            margin: 2.5cm;
      }
      .table {
          border-collapse: collapse;
          width: 100%;
          font-size: 15pt;
          font-family: 宋体;
          margin: 0 auto;
      }

      .table,
      td,
      th {
          border: 1px solid black !important;
          text-align: center;
          height: 35px;
          padding: 5px;
      }
      .td_10 {
          width: 10%;
      }
      .td_30 {
          width: 30%
      }
    
    caption {
      text-align: center;
      color: #000;
    }
    .left{
        text-align:left;
    }
  </style>
{% endblock %}
{% block print_content %}
    <table class="table" id="print_page">
        <caption><h1>刑事附带民事询问提纲</h1></caption>
        <thead>
        <tr>
            <th class="td_10">序号</th>
            <th class="td_30">询问对象</th>
            <th>询问内容</th>
        </tr>
        </thead>
        <tbody>
        {% for o in outlines %}
            <tr>
                <td style="width:80px;">{{ forloop.counter }}</td>
                <td>{{ o.get_target_display }}</td>
                <td class="left">{{ o.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
