{% extends 'civilcase/print/print_base.html' %}{% load static%}
{% block title %}风险告知书{% endblock title %}
{% block css %}
    <style>
        @page {
            margin: 2.5cm;
            size: a4 portrait;
        }

        .table {
            border: 0px solid black;
            border-collapse: collapse;
            padding-top: 3px;
            font-size: 12pt;
            font-family: 宋体;
            color: #000000;
            font-size: 14px;
            width: 100%;
        }

        .table td {
            height: 20px;
            word-wrap: break-word;
            word-break: break-all;
            border-top: 0px solid #ddd !important;
        }

        div {
            line-height: 25px;
        }

        span {
            display: block;
            text-indent: 2.2rem;
            line-height: 20px;

        }
        h4{
           font-family: 宋体;
        }
    </style>
{% endblock css %}
{% block print_content %}
    <table class="table" id="print_page">
        <caption style="text-align: center">
            <h1>{{ office.name }}法律服务</h1>
            <h2>《风险告知书》</h2>
        </caption>
        <tbody>
        <tr>
            <td>
                <div><h3>尊敬的委托人:</h3></div>
            </td>
        </tr>
        <tr>
            <td>
                    <span>任何诉讼或仲裁均存在法律风险，案件进程和案件结果可能受到各种客观因素的影响，
                        在聘请律师前您应确认具有承受此等法律风险之负担能力及合理预见;为维护您的合法权益，
                        当您委托本所办理案件前，我们遵循诚实信用原则，向您告知以下可能存在的风险：</span>
            </td>
        </tr>
        <tr>
            <td>
                <div><h4>一、不如实陈述事实和提供证据的风险</h4></div>
            </td>
        </tr>
        <tr>
            <td>
                <span>您应当向承办律师如实提供全面准确的事实和证据，以便承办律师依法维护您的合法权益;律师对您的陈述将全部认定是真实的，并依此分析判断案件的可能情况;如果您作虚假陈述、或提供虚假证据，将会导致律师作出错误的分析、判断，对此律师不承担任何责任。</span>
                <span>诉讼中争议的事实都是过去发生的，诉讼当事人虽自己亲身经历了纠纷的全过程，但法官是根据当事人提供的证据对事实作出认定的，您主张的任何权利，均需提供相关证据加以证明;如果不能充分提供证据证明自己主张的事实或者律师经过努力无法根据您提供的线索取得充分证据，您有可能承担不利或败诉的后果。</span>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>二、费用的风险</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span>1、您在委托律师办理案件时，应与本律师事务所而非律师个人签订委托合同;除律师办案费外，律师代理费均依照《辽宁省律师服务收费管理实施办法》或根据案件情况与您协商确定，由律师事务所统一收取，并向您出具发票;且无论案件结果如何，所收取的费用不予退还。</span>
                <span>2、您提出的任何权利主张，包括但不限于诉讼、仲裁、公告、勘验、鉴定等，均需向有关单位缴纳费用;若您没有按时缴纳有关费用，有可能产生您的权利主张得不到支持的法律后果。</span>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>三、判决结果的风险</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span>律师是根据自己的法律专业知识向当事人提供法律服务的执业者，我们承诺尽全力履行代理职责，但基于众多不确定因素，律师并不能保证案件必然胜诉或刑事案件被告人必然罪轻或无罪的审理结果，我们也不会对案件结果向您作出任何承诺，不以案件判决结果作为收取律师费的参考。</span>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>四、执行的风险</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span>在民事诉讼案件中，因被执行人下落不明、履行能力不足、逃避、无被执行财产线索等，都有可能导致生效法律文书无法执行，您有可能承担执行不能的风险。</span>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <h4>五、其他可能出现的风险</h4>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span>1、诉讼请求不当的风险。诉讼请求不完全，将导致未请求的部分得不到审理，诉讼请求过高的部分不予支持。诉讼请求的增加、变更或提出反诉，应在举证期间提出，逾期则不予审理。</span>
                <span>2、不按时缴纳诉讼费用的风险。原告起诉、增加诉讼请求或被告提起反诉、当事人的申请诉讼保全、不按时缴纳费用，将导致不予审理或不予财产保全，当事人如确定的诉讼标的的金额过高，未得到支持的部分费用应自行承担。</span>
                <span>3、送达不能的风险。因原告提供的被告地址不符或不详导致法院无法送达起诉状副本和法律文书，应当公告，公告应符合相关条件。原告拒绝支付公告费用的、无法提供被告有效身份信息的，原告将承担不利、被视为撤诉甚至败诉的风险。</span>
                <span>4、诉讼时效超期或中断待定的风险。当事人自认诉讼时效未超期或时效中断，可能因时效问题败诉。</span>
                <span>5、超时提供证据的风险。超过举证时限提供证据的，对方当事人不同意质证的，举证方应承担所主张事实不能认定、甚至败诉的后果。</span>
                <span>6、不能充分提供证据的风险。原告起诉或被告反诉，对自己提出的诉讼请求所依据的事实或反驳对方的诉讼请求所依据的事实由责任提供证据，没有证据或证据不足的，由负有举证责任的当事人承担不利甚至败诉的后果。</span>
                <span>7、不能提供原始证据的风险。向法院提供证据应当提供原件或原物，若证据系在境外（含港澳台地区），还应履行相应的证明手续，否则将导致证据无效的后果。提供证人证言的，证人须亲自出庭作证（除证人确有困难不能出庭的情形外），否则将导致证人证言不予采信的后果。</span>
                <span>8、申请评估、鉴定的风险。申请评估、鉴定的当事人不按举证通知书的要求，在规定的期限内申请或不预交评估、鉴定费用或不提供相关材料的将承担不利或败诉的后果。</span>
                <span>9、开庭不按时出庭的风险。不按时参加法庭审理活动的，原告承担起诉被视为撤诉的后果，被告承担缺席审理、举证不能的后果。</span>
                <span>10、申请法院调查收取证据的风险。申请法院调查收取证据的各方当事人，不按举证通知书的要求，不在规定期限内提出申请的，或经申请法院调取的证据，不能证明申请人的主张的，将承担不利或败诉的后果。</span>
                <span>11、一方下落不明的诉讼风险。一方下落不明，将导致审理时间长，不能尽快结案的风险，还可能导致因无法当庭质证难以查清的事实，甚至原告诉讼请求无法支持的风险，一方下落不明，有可能导致没有财产可供执行的风险，又要承担诉讼费用的风险。</span>
                <span>12、一方没有财产的诉讼风险。一方没有财产，将导致财产保全不能实现而保全费用不退的风险,还会导致无财产可供执行的风险。</span>

            </td>
        </tr>
        <tr>
            <td>
                <span>感谢您对我们的信任与支持，我们将依法尽心尽责地维护您的合法权益，严格按照法律规定的期间、时效以及与委托人约定的时间，办理委托事项。谨慎保管委托人提供的证据和其他法律文件，保守服务过程中所知悉的委托人的商业秘密或隐私。</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>承办律师已告知委托人上述事项，委托人已完全了解风险告知书中所提示的全部内容。</span>
            </td>
        </tr>
        <tr>
            <td>
                <span><h4 style="padding-left:20px;"> 委托人确认：（签章）</h4></span>
                <span><h4 style="padding-left:20px;"> 日     期：{% now 'Y年m月d日' %}</h4></span>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock print_content %}

