{% extends 'civilcase/print/print_base.html' %}{% load static%}
{% block title %}律师事务所函{% endblock title %}
{% block css %}
  <style>
      @page {
          size: a4 portrait;
          margin: 2.5cm;
      }
    .table {
        border: 0px solid black;
        border-collapse: collapse;
        padding-top: 3px;
        font-size:15pt;
        font-family: 宋体;
        width:100%;
    }
    .table td{
        height: 20px;
        word-wrap:break-word;
        word-break:break-all;
        border: 0px!important;
    }

    div{
        line-height: 42px;
    }
    span{
        display:block;
        text-indent: 2.2rem;
        line-height: 42px;
    }
    .table .td_h{
        height: 140px;
    }
    .left{
        text-align: left;
    }
    .right{
        text-align: right;
    }
    .td_right{
        text-align: right;
        padding-right:30px;
    }
 </style>
{% endblock %}
{% block print_content %}
    <table class="table" id="print_page">
        <caption style="text-align: center; padding-bottom: 30px;">
            <h1>律师事务所函</h1>
        </caption>
        <tbody>
            <tr>
                <td class="right"><span></span></td>
            </tr>
            <tr>
                <td><div>{{ criminal_detail.court_name|default:"" }}:</div></td>
            </tr>
            <tr>
                <td><span>本所接受{{ criminal_detail.criminal.get_cli_name }}的委托，
                    指派律师{{ criminal_detail.criminal.lawyer }}{% if criminal_detail.criminal.assist %}、{{ criminal_detail.criminal.assist }}{% endif %}，
                    担任你院办理的{{ criminal_detail.criminal.case_name }}中犯罪嫌疑人/被告人{{ criminal_detail.criminal.get_party_name }}的诉讼辩护人。</span>
                </td>
            </tr>
            <tr>
                <td class="td_h"><span>特此函告!</span></td>
            </tr>
            <tr>
                <td class="td_right"><div>{{ office.name }}</div></td>
            </tr>
            <tr>
                <td><div></div></td>
            </tr>
            <tr>
                <td class="td_right"><div>{% now 'Y年m月d日' %}</div></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
